@model IEnumerable<SAT_Team_Development.DATA.EF.Models.Enrollment>

@{
    ViewData["Title"] = "Enrollments";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container mt-5">
    <br />
    <br />
    <h3 class="text-center">@ViewData["Title"]</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
        $(document).ready( function () {
        $('.table').DataTable();
    } );

}
